body {
    background-color: #60ACF5;
    color: white;
    font-family: Arial ;
    font: bold;
}

button {
    background-color: white;
    margin: 2px;
}

.grid-container {
    display:grid;
    grid-template-columns: 30vw auto 30vw;
    grid-template-rows: 30vh  auto 30vh;
}

.cadre-connexion {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: #0a4d8c;
    text-align: center;
}