#menu {
    width: 100%;
    height: auto;
    position: relative;
    border-bottom: 10px #293470 solid;
    background-color: #334295;
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #334295;
}

#menu ul buton {
    list-style-type: none;
    margin-right: 20px;
    overflow: hidden;
    color: #334295;
    margin-left: 5px;
}

#menu li {
    float: left;
}

#menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: auto;
    margin-bottom: auto;
}

#menu li a:hover {
    background-color: #293470;
}

#menu ul :last-child {

    float: right;

}

#footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    background-color: #334295;
    border-top: 10px #293470 solid;
    height: auto;
    width: 100%;
}

article {
    margin: 2vh 2vw;
    border-style: dashed;
    border-color: #293470;
    padding: 1ex;
    align-content: center;
    text-align: justify;
    word-wrap: break-word;
}

article h1 {
    color: black;
    font-weight: bold;
}

article h1 em {
    float: right;
    font-style: italic;
    font-size: small;
    text-align: right;
}

article p {
}

#footer b a {
    color: white;
}

#footer p {
    margin: 0;
}
